asgiref==3.3.4
bcrypt==3.2.0
boto==2.49.0
cffi==1.14.5
cryptography==3.4.7
dj-database-url==0.5.0
dj-email-url==1.0.2
dj-static==0.0.6
Django==3.2
django-cache-url==3.2.3
django-crispy-forms==1.11.2
django-environ==0.4.5
django-heroku==0.3.1
django-storages==1.11.1
django-toolbelt==0.0.1
environs==9.3.2
fabric==2.6.0
gunicorn==20.1.0
invoke==1.5.0
marshmallow==3.11.1
paramiko==2.7.2
pathlib2==2.3.5
psycopg2==2.8.6
pycparser==2.20
PyNaCl==1.4.0
python-dotenv==0.17.1
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
static3==0.7.0
whitenoise==5.2.0
