 
body{
    margin: 0%;
    padding: 0%;
}

a:hover{text-decoration: none;}

.weatherwidget-io{
    background-color: white;
}

#time{
    text-align: center;
    margin-top: 0.5rem;
    color: white;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}

#home-flights{
    position: fixed;
    right: 10px;
    top: 10px;
    border-radius: 20%;
}
#home-flights > a #flt-details {text-decoration: none;}

/* flight_detail.html */
.container_fluid.flight_detail{
    background-color: #222255;
    color: #DBE9EC;
}
.aerobeast img {
    height: 100px;
}

.nav-link {
    font-size: 1.25rem;
    color: #DBE9EC;
}

.name {
    font-size: 4rem;
    color: #222255;
    border-radius: 8px;
    background-color: #DBE9EC;
    text-align: center;
}

caption {
    color: #DBE9EC;
    text-align: center;
    font-size: 2rem;
}

.details {
    border-radius: 30px;
    margin: 2rem;
}

th,
td {
    color: #DBE9EC;
    font-size: 1.5rem;
    text-align: center;
}

.center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    background-color: #DBE9EC;
    border-radius: 10px;
    padding: .5rem;
} 

@media screen and (max-width:640px){
    .box11{
        width: 100%;
        height: 50vh;
    }
    .box12{
        width: 100%;
        height: 50vh;
    }
    .box11 ul{
        width: 250px;
        margin-left: 0%;
        margin-top: 20%;
    }
    .box11 ul li{
        margin-top: 3vh;
        margin-left: 2%;
    }
    .box11 ul li a{
        font-size: 10px;
    }
}
   