{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please log  in with an account that has access.</p>
        {% else %}
    
    <p>Please login to see this page.</p>
        {% endif %}

    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr> 
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Log In</button>
        <button class="btn btn-success ml-2" type="submit"><a href="{% url 'password_reset' %}" style="text-decoration: none; color: white;">Reset Password</a></button>
    </form>
    
{% endblock content %}