{% extends 'base.html' %}

{% load static %}
{% load auth_extras %}

{% block content %}
    
    <div class="card">
        <div class="card-header">Pilots</div>
        <div class="card-body bg-info">
            <a href="{% url 'pilots' %} ">
                <img src="{% static 'images/pilot.png' %}" alt="pilot images">
            </a>
        </div>
        <div class="card-footer">All Available pilots with the airport</div>
    </div>

    <div class="card">
        <div class="card-header">Airlines</div>
        <div class="card-body bg-info">
            <a href="{% url 'airlines' %} ">
                <img src="{% static 'images/airline.png' %}" alt="airline image">
            </a>
        </div>
        <div class="card-footer">All connected airlines with the airport</div>
    </div>

    <div class="card">
        <div class="card-header">Flights</div>
        <div class="card-body bg-info">
            <a href="{% url 'flights' %} ">
                <img src="{% static 'images/flight.png' %}" alt="flight image">
            </a>
        </div>
        <div class="card-footer">All flights from/to the airport</div>
    </div>    

 
 
    <div class="card">
        <div class="card-header">Cabin Crew</div>
        <div class="card-body bg-info">
            <a href="{% url 'cabin-crew' %} ">
                <img src="{% static 'images/crew.png' %}" alt="crew images">
            </a>
        </div>
        <div class="card-footer">All Available cabin crew with the airport</div>
    </div>    

    <div class="card">
        <div class="card-header">Ground Staff</div>
        <div class="card-body bg-info">
            <a href="{% url 'security' %} ">
                <img src="{% static 'images/staff.png' %}" alt="ground staff images">
            </a>
        </div>
        <div class="card-footer">All Available ground staff at the airport</div>
    </div>

    <div class="card">
        <div class="card-header">Aircarfts</div>
        <div class="card-body bg-info">
            <a href="{% url 'aircraft' %} ">
                <img src="{% static 'images/aircraft.png' %}" alt="aircraft images">
            </a>
        </div>
        <div class="card-footer">All aircrafts that are registered</div>
    </div>

    {% endif %}
{% endblock content %}