{% extends 'base.html' %}
{% block title %}Flight Details{% endblock %}
{% load auth_extras %}

{% block content %}
    <p></p>
    <div class="container-fluid">
        <div class="row justify-content-around py-3">
            <div class="col-3 aerobeast">
                <img src="images/logo.png" alt="" class="img-fluid">
            </div>

        </div>
        <div class="row justify-content-evenly">
            <div class="col-5">
                <h2 class="name">{{flight_list.flight_airline.airline_name}} {{flight_list.flight_id}} </h2>
            </div>
        </div>
        <div class="row details" style="background-color: rgb(0, 0, 0, 0.7);">
            <div class="col-5 p-2">
                <table class="table table-borderless caption-top">
                    <caption>List of users</caption>
                    <tbody>
                        <tr>
                            <th scope="row">Scheduled</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">Scheduled</th>
                            <td>Mark</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2 center-logo">
                <img src="images/icons8.png" alt="">
            </div>
            <div class="col-5 p-2">
                <table class="table table-borderless caption-top">
                    <caption>List of users</caption>
                    <tbody>
                        <tr>
                            <th scope="row">Scheduled</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">Scheduled</th>
                            <td>Mark</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row details" style="background-color: rgb(0, 0, 0, 0.7);">
            <div class="col-5 p-2">
                <table class="table table-borderless caption-top">
                    <caption>List of users</caption>
                    <tbody>
                        <tr>
                            <th scope="row">Scheduled</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">Scheduled</th>
                            <td>Mark</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2 center-logo">
                <img src="images/icons8.png" alt="">
            </div>
            <div class="col-5 p-2">
                <table class="table table-borderless caption-top">
                    <caption>List of users</caption>
                    <tbody>
                        <tr>
                            <th scope="row">Scheduled</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">Scheduled</th>
                            <td>Mark</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}