{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html>
<title>aeroBeast</title>  

<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
    <script>
        function startTime() {
          var today = new Date();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById('time').innerHTML =
          h + ":" + m + ":" + s;
          var t = setTimeout(startTime, 1000);
        }
        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
        </script>
  <meta name="google-site-verification" content="Bsu2KyL27DdOwFDw0t0i1upDACWgoo_JPn9K8C1tI38" />	 		
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/base.css' %}" >
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<style>
  a:hover{text-decoration: none;}
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: rgb(14, 1, 49);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
.login-admin{position: absolute;
             top: .1vh;
             right: .2vh;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body onload="startTime()" class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
	<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  
		<a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-black">
			<i class="fa fa-home w3-xxlarge"></i>
			<p>HOME</p>
		</a>
		
		<a href="{% url 'flights' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
			<i class="fas fa-clock w3-xxlarge"></i>
			<p>Schedule</p>
		</a>
		
		{% if user.is_authenticated %}
		<a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
			<i class="fa fa-user w3-xxlarge"></i>
			<p> Log Out </p>
		</a>
		
		{% else %}
		<a href="{% url 'login' %}  " class="w3-bar-item w3-button w3-padding-large w3-hover-black">
			<i class="fa fa-user w3-xxlarge"></i>
			<p> Log In </p>
		</a>
  
		{% endif %}
		 
		<a href="#COVID" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
			<i class="fa fa-eye w3-xxlarge"></i>
			<p>COVID RULES</p>
		</a>
  
		<a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
			<i class="fas fa-map-marked w3-xxlarge"></i>
			<p>Passenger Instructions</p>
		</a>

		<a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
			<i class="fa fa-envelope w3-xxlarge"></i>
			<p>CONTACT US</p>
		</a>		
  
	</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">PASSENGER INSTRUCTIONS</a>
    <a href="#COVID" class="w3-bar-item w3-button" style="width:25% !important">COVID RULES</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
    
  </div>
</div>

<!-- Page Content -->

<div class="login-admin">
  {% if user.is_superuser  %}
    <a href= "{% url 'admin:index' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fas fa-tachometer-alt w3-xxlarge"></i>
      <p>Hi {{user.username}}! <br> To Dashboard?</p>
    </a>

  {% elif request.user|has_group:"ATC-Group" or request.user|has_group:"Pilot-Group" %}
    <a href= "{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fas fa-tachometer-alt w3-xxlarge"></i>
      <p>Hi {{user.username}}! <br> To Dashboard? </p>
    </a>
    
{% endif %}
    

</div>
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">WE are</span> aeroBeast</h1>
    <p>Airport Managment service</p>
    <img src="{% static 'images/logo_prev_ui.png' %}"  class="w3-image" >
  </header>
  <div class="col-2"> <h1 id="time"></h1></div>
  <div class="col-6"style="color: #05011b;"> 
    <a class="weatherwidget-io" href="https://forecast7.com/en/28d6177d21/new-delhi/" data-label_1="NEW DELHI" data-label_2="WEATHER" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="dark" >NEW DELHI WEATHER</a>
  
</div>
  <h2 class="w3-text-light-grey">FLIGHTS</h2>
  <hr style="width:200px" class="w3-opacity">
 
  <!-- Grid for FLIGHT tables -->
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-white w3-center  w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Arrivals</li>
        <div class="table-responsive" id="sortMe">
          <table class="table table-hover ">
              <thead class="thead-dark">
                  <th>Flight Code </th>
                  <th>Airline</th>
                  <th>Source </th>
                  <th>Schedule</th>
                  <th>Delay</th>
                  <th>Gate Number</th>
              </thead>
          
          {% for flt in flight_list %}
              {% if flt.get_type is not None %}
                  {% if flt.time_diff >= -120 and flt.time_diff < 31 %}
                    <tbody>
                      <tr><td>  
                        {% if request.user|has_group:"ATC-Group" or user.is_superuser %} 
                          <a id= "flt-details" href="{{flt.get_absolute_url}}" > {{ flt.flight_id }}     </a> 
                        {% else %}                
                            {{ flt.flight_id }}                 
                        {% endif %}               </td> 

                      <td>  {{ flt.flight_airline.airline_name }}    </td> 
                      <td>  {{ flt.flight_source }}                  </td>   
                      <td>  {{ flt.flight_arrival}}                  </td>                           
                      <td>  {{ flt.flight_delay }}       min         </td>
                      <td>  {{ flt.flight_gate }}                    </td>
                    
                      </tr>
                  {% endif %}
              {% endif %}
          {% endfor %}
              </tbody>
          
          </table>
          </div>
       
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-white w3-center  w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Departures</li>
        <div class="table-responsive" id="sortMe">
          <table class="table table-hover ">
              <thead class="thead-dark">
                  <th>Flight Code </th>
                  <th>Airline</th>
                  <th>Destination </th>
                  <th>Schedule</th>
                  <th>Delay</th>
                  <th>Gate Number</th>
              </thead>
          
          {% for flt in flight_list %}
              {% if flt.get_type is None %}
                  {% if flt.time_diff >= -120 and flt.time_diff < 31 %}
                    <tbody>
                      <tr><td>  
                        {% if request.user|has_group:"ATC-Group" or user.is_superuser %} 
                          <a id= "flt-details" href="{{flt.get_absolute_url}}" > {{ flt.flight_id }}     </a> 
                        {% else %}                
                            {{ flt.flight_id }}                 
                        {% endif %}               </td> 

                      <td>  {{ flt.flight_airline.airline_name }}    </td> 
                      <td>  {{ flt.flight_destination }}                  </td>   
                      <td>  {{ flt.flight_departure}}                </td>                           
                      <td>  {{ flt.flight_delay }}                   </td>
                      <td>  {{ flt.flight_gate }}                    </td>
                    
                      </tr>
                  {% endif %}
              {% endif %}
          {% endfor %}
              </tbody>
          
          </table>
          </div>
       
        
      </ul>
    </div>
  <!-- End FLIGHT tables -->
  </div>
  
  

  
  
<!-- End covid ruels Section -->

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Passenger Instructions</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>Ensure to carry all the necessary documents. Abide by the baggage guidelines of the Airline which you’re travelling. 
        Ensure you reach the Airport at least 2 /3 hours prior to the scheduled departure of the Aeroplane as required by the Airlines.
         Boarding gates close about 30 minutes prior to the departure time(Check with your airline for exact timings). 
         After reaching the final gate of the Airline, wait in the boarding area to board the flight. 
         Once the final check of your boarding pass is done you will be aboard the flight, check your seat and relax. Voila, Here you go now! enjoy your downtime until you reach your destination.
    </p>
  <!-- End About Section -->
  </div>
  
  <!-- covid rules Section -->
  <div class="w3-padding-64 w3-content" id="COVID">
    <h2 class="w3-text-light-grey">COVID RULES</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>In view of the surge in number of COVID-19 cases, random sample collection will be done for passengers arriving from states where there has been a spurt in number for COVID-19 cases. 
        Passengers will be allowed to exit after sample collection. Thermal screening will be done for all passengers upon arrival. 
        All passengers must download Aarogya Setu App. Carry RT-PCR negative report from ICMR accredited labs done within last 72hours.
         Please also check the state specific guidelines issued by the state government of the destination airport. 
         Meals will not be served on flights of less than 2 hours in duration as per Govt. rules.
    </p>
 <!-- End covid ruels Section -->
  </div>
 <!-- FLIGHTS Section -->

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact US</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> New Delhi,INDIA</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +82 827272</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: queries@aerobeast.ac.in</p>
    </div><br>

  <!-- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge" id="main">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
     <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
